<div class="box">
    <div class="controls">
        <button (click)="movePrev()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M13.939 4.939 6.879 12l7.06 7.061 2.122-2.122L11.121 12l4.94-4.939z"></path></svg>
        </button>
        <button (click)="moveNext()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10.061 19.061 17.121 12l-7.06-7.061-2.122 2.122L12.879 12l-4.94 4.939z"></path></svg>
        </button>
    </div>
    <div class="cont">
        <div *ngFor="let i of array" class="items"><img [src]="i" loading="lazy" alt="carouselimg"></div>
    </div>
</div>